<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.gmail }}</title>
    <link rel="stylesheet" href="/static/kabinet.css">
    <link rel="website icon" href="/static/img/Instagram_icon.png">
</head>
<body>
<nav class="help">
    <div class="icon">
        <div class="bosh7">
            <h1 class="instagram"></h1>
            <a href="{{ url_for("instagram", user_id=user.id) }}">
                <div class="ic">
                    <div class="ic2">
                        <img width="25" height="35" src="/static/img/house-solid%20(1).svg" alt="">
                        <h1 class="ic3">Главная</h1>
                    </div>
                </div>
            </a>
            <div class="ic">
                <div class="ic2">
                    <img width="25" height="35" src="/static/img/magnifying-glass-solid.svg" alt="">
                    <h1 class="ic3">Поисковый запрос</h1>
                </div>
            </div>
            <div class="ic">
                <div class="ic2">
                    <img width="25" height="35" src="/static/img/compass-regular.svg" alt="">
                    <h1 class="ic3">Интересное</h1>
                </div>
            </div>
            <div class="ic">
                  <a href="{{ url_for("reels", user_id=user.id) }}">
                    <div class="ic2">
                        <img width="25" height="25" src="/static/img/icons8-instagram-reels-1600.png" alt="">
                        <h1 class="ic3">Reels</h1>
                    </div>
                </a>
            </div>

            <div class="ic">

                <div class="ic2">
                    <img width="25" height="25" src="/static/img/facebook-messenger.svg" alt="">
                    <h1 class="ic3">Сообщения</h1>
                </div>
            </div>
            <div class="ic">
                <div class="ic2">
                    <img width="25" height="25" src="/static/img/heart-regular.svg" alt="">
                    <h1 class="ic3">Уведомления</h1>
                </div>
            </div>
            <div class="ic"><a href="{{ url_for("add_photo", user_id=user.id) }}">
                <div class="ic2">
                    <img width="25" height="25" src="/static/img/icons8-plus-100.png" alt="">
                    <h1 class="ic3">Создать</h1>
                </div>
            </a>
            </div>
            <div class="ic"><a href="{{ url_for("kabinet", user_id=user.id) }}">
                <div class="ic2">
                    {% if user.img %}
                        <img class="icon5" src="{{ user.img }}" alt="">
                    {% else %}
                        <img class="icon5" src="/static/img/icon%20lo.png" alt="">
                    {% endif %}
                    <h1 class="ic31">Профиль</h1>
                </div>
            </a>
            </div>
        </div>
        <div class="xg"></div>
        <div class="cab">
            <div class="x"></div>
            <div class="ic">
                <a href="{{ url_for("hello_world") }}">
                    <div class="ic2">
                        <div class="icon6"></div>
                        <h1 class="ic3">Ещё</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
</nav>
<header class="vidio">
    <div class="yo"></div>
    <div class="vidio1">
        <div class="yo1"></div>
        <div class="img70">
            {% if user.img %}
                <div class="img77">
                    <img class="img78" src="{{ user.img }}" alt="">
                </div>
            {% else %}
                <img class="img78" src="/static/img/icon%20lo.png" alt="">
            {% endif %}

        </div>
        <div class="img71">
            <div class="img73">
                <h1 class="username">{{ user.gmail }}</h1>
                <a href="{{ url_for("account_edit", user_id=user.id) }}">
                    <div class="nas"><h1 class="nas2">Редактировать профиль</h1></div>
                </a>
                <a href="{{ url_for("account_edit",user_id=user.id) }}">
                    <div class="nas1"></div>
                </a>
            </div>
            <div class="pod">
                <div class="post">
                    <h1 class="id1">{{ post }}</h1>
                    <h1 class="id">публикаций</h1>
                </div>
                <div class="post1">
                    <h1 class="id1"> {{ follows }}</h1>
                    <h1 class="id">подписчиков</h1>
                </div>
                <div class="post1">
                    <h1 class="id1">{{ overall }}</h1>
                    <h1 class="id"> подписок</h1>
                </div>
            </div>

            <div class="name">
                <h1 class="id2">{{ user.name }} {{ user.surname }}</h1>
            </div>

            <div class="co">
                {% if user.commentary %}
                    <div class="co1">
                        <h1 class="co2">{{ user.commentary }}</h1>
                    </div>
                {% else %}
                    <div class="co1">
                        <h1 class="co2"></h1>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="chi2"></div>


        <div class="bosh1">
            <div class="fo">
                <div class="chi3"></div>
                <img width="15" height="15" src="/static/img/table-cells-solid.svg" alt="">
                <h1 class="fo1">Публикации</h1></div>
            <div class="sa1">
                <div class="chi45"></div>
                <img width="20" height="16" src="/static/img/save.svg" alt="">
                <h1 class="fo1">Сохраненное</h1></div>

        </div>
        <div class="sava">
            {% for saves in save_reel %}
                <img class="rasm1" src="{{ saves.reels.reel }}" alt="">
            {% endfor %}
        </div>
        <div class="img80">
            {% for reel in reels %}
                <img class="rasm" src="{{ reel.reel }}" alt="">
            {% endfor %}
        </div>
        <div class="yoo"></div>
    </div>



    {% for save in save_reel %}
        <div class="select1">
            <div class="x2"></div>
            <div class="sel1">
                <div class="sel2">
                    <img class="sel22" src="{{ save.reels.reel }}" alt="">
                </div>
                <div class="sel4">
                    <div class="sel3">
                        {% if save.reels.users.img %}
                            <img class="img" src="{{ save.reels.users.img }}" alt="">
                        {% else %}
                            <img class="img" src="/static/img/icon%20lo.png" alt="">
                        {% endif %}
                        <div class="co12">
                            <h1 class="user3">{{ save.reels.users.gmail }}</h1>
                            {% if save.reels.reel.reel_name %}
                                <h1 class="user2"> {{ save.reels.reel.reel_name }}</h1>
                            {% endif %}
{#                            <a class="de" href="{{ url_for("kabinet", user_id=users.id, reel_id=save.reels.id) }}" methods="post">...</a>#}
                        </div>

                    </div>
                    <div class="coment">
                        {% for comment in save.reels.comment_reel %}
                            <div class="sele1">
                                {% if save.reels.users.img %}
                                    <img class="img" src="{{ comment.users.img }}" alt="">
                                {% else %}
                                    <img class="img" src="/static/img/icon%20lo.png" alt="">
                                {% endif %}
                                <div class="co11">
                                    <h1 class="user">{{ comment.users.name }}</h1>
                                    <h1 class="user1">{{ comment.text }}</h1>
                                   <div class="like1">
                                        <form action="{{ url_for("comment_like",comment_id=comment.id, user_id=user.id) }}"
                                              method="post">
                                            {% if comment.id in like_id %}
                                                <button class="like2_red"></button>
                                            {% else %}
                                                <button class="like2"></button>
                                            {% endif %}
                                        {% if comment.comment_li %}
                                        <h1 class="text77">{{ comment.comment_li }}</h1>
                                        {% endif %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="yoz">
                        <div class="li">
                            <form action="{{ url_for("add_like_user",reel_id=save.reels.id, user_id=user.id) }}">
                                {% if save.reels.id in like_ids %}
                                    <button class="like_red"></button>
                                {% else %}
                                    <button class="like"></button>
                                {% endif %}
                            </form>
                            <button class="kom"></button>
                            <button class="ot"></button>
                            <div class="d1"></div>
{#                            <form action="{{ url_for("unsaved", save_id=user.id, save_reel_id=save.reels.id) }}">#}
                            <button class="sa"></button>
{#                            </form>#}
                        </div>
                        <h1 class="rels6">{{ save.reels.like_count }} отметок "Нравится"</h1>
                        <h1 class="rels7">{{ save.reels.length_comment }} комментарий</h1>
                        <form action="{{ url_for("add_comment_user", id_reels_comment=save.reels.id, users7_id=user.id) }}"
                              method="post">
                            <div class="in1">
                                <div class="sm"></div>
                                <input class="input" type="text" name="comment" placeholder="Добавьте комментарий...">
                                <button class="post2">Опубликовать</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for reel in reels %}
        <div class="select">
            <div class="x1"></div>
            <div class="sel1">
                <div class="sel2">
                    <img class="sel22" src="{{ reel.reel }}" alt="">
                </div>
                <div class="sel4">
                    <div class="sel3">
                        {% if user.img %}
                            <img class="img" src="{{ user.img }}" alt="">
                        {% else %}
                            <img class="img" src="/static/img/icon%20lo.png" alt="">
                        {% endif %}
                        <a href="{{ url_for("kabinet", user_id=user.id) }}">
                            <div class="co12"><h1 class="user">{{ user.gmail }}</h1>
                                {% if reel.reel_name %}
                                    <h1 class="user1"> {{ reel.reel_name }}</h1>
                                {% endif %}</div>
                         <a class="de" href="{{ url_for("delete_img", user_id=user.id, reels_id=reel.id) }}" methods="post">...</a>
                        </a>
                    </div>
                    <div class="coment">
                        {% for comment in reel.comment_reel %}
                            <div class="sele1">
                                {% if user.img %}
                                    <img class="img" src="{{ comment.users.img }}" alt="">
                                {% else %}
                                    <img class="img" src="/static/img/icon%20lo.png" alt="">
                                {% endif %}
                                <div class="co11">
                                    <h1 class="user">{{ comment.users.name }}</h1>
                                    <h1 class="user1">{{ comment.text }}</h1>

                                    <div class="like1">
                                        <form action="{{ url_for("comment_like",comment_id=comment.id, user_id=user.id) }}"
                                              method="post">
                                            {% if comment.id in like_id %}
                                                <button class="like2_red"></button>
                                            {% else %}
                                                <button class="like2"></button>
                                            {% endif %}
                                        {% if comment.comment_li %}
                                        <h1 class="text77">{{ comment.comment_li }}</h1>
                                        {% endif %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="yoz">
                        <div class="li">
                            <form action="{{ url_for("add_like_user",reel_id=reel.id, user_id=user.id) }}">
                                {% if reel.id in like_ids %}
                                    <button class="like_red"></button>
                                {% else %}
                                    <button class="like"></button>
                                {% endif %}
                            </form>

                            <button class="kom"></button>
                            <button class="ot"></button>
                            <div class="d1"></div>
                            <form action="{{ url_for("save", save_id=user.id, save_reel_id=reel.id) }}">
                                <button class="sa"></button>
                            </form>
                        </div>
                        <h1 class="rels6">{{ reel.like_count }} отметок "Нравится"</h1>
                        <h1 class="rels7">{{ reel.length_comment }} комментарий</h1>

                        <form action="{{ url_for("add_comment_user", id_reels_comment=reel.id, users7_id=user.id) }}"
                              method="post">
                            <div class="in1">
                                <div class="sm"></div>
                                <input class="input" type="text" name="comment" placeholder="Добавьте комментарий...">
                                <button class="post2">Опубликовать</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


</header>

<script src="/static/kobinet.js"></script>
</body>
</html>